.modal-content-group {
    border: solid black;
    border-width: 1px 0;
}

#btn-add-category {
    height: 100%;
    margin: auto;
}

#btn-save-budget {
    margin: auto;
    margin-top: 10px;
}

#category-table td, #category-table th {
    border: 1px solid black;
    text-align: center;
}

.category-delete {
    float: left;
}

#category-table tr:nth-child(even) {
    background-color: rgb(211, 211, 211);
}

::-webkit-input-placeholder {
    font-style: italic;
    text-align: center;
 }


