#sidebar {
    position: fixed;
    height: 100%;
    width: 150px;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: grey;
    overflow-y: auto;
}

#budget-preview {
  position: absolute;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: black;
  margin: auto;
  width: 80%;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  /* border: 2px solid black; */
}

#create-budget {
    position: relative;
    margin: auto;
    background-color: white;
    width: 100%;
    height: 34.5px;
    top: 125px;
    z-index: -5;

    border: 2px solid black;
    border-color: black;
    background: url('./add.png') no-repeat center;
    background-color: white;
    background-size: 20%;
}

.user-bdgt {
    position: relative;
    margin: auto;
    background-color: rgb(132, 211, 139);
    width: 100%;
    height: 34.5px;
    top: 125px;
    z-index: -5;
    margin: 10px 0;

    border: 2px solid black;
    border-color: black;
    user-select: none;
}

#create-budget:hover, .user-bdgt:hover {
    border-color: white;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }