#transactions {
    margin: auto;
    width: 100%;
    text-align: center;
}

#transactions h2 {
    margin-top: 30px;
    text-decoration: underline;
}

.transaction-item {
    width: 75%;
    margin: auto;
    border: 1px solid black;
}

#btn-new-transaction {
    margin: 10px 0;
    width: 75%;
    border: 2px solid black;
}

#btn-view-transactions {
    margin: 10px 0;
    width: 75%;
    border: 2px solid black;
}

#transaction-accordion {
}

#transaction-table {
    width: 80%;
    margin: 30px auto auto auto;
}

#transaction-table th {
    border: 3px solid black;
    text-align: center;
}

#transaction-table td {
    border: 1px solid black;
    text-align: center;
}

#transaction-table tr:nth-child(odd) {
    background-color: rgb(183, 255, 195);
}

#transaction-table tr:nth-child(even) {
    background-color: rgb(216, 241, 220);
}